.c-btn {
  @extend %naked-button;
  display: flex;
  background: $s-color-3;
  padding: map-get($s-spacing-sizes, m);
  color: $s-white;
  align-items: center;

  &__content {
    color: $s-white;
  }

  &__icon {
    margin-left: map-get($s-spacing-sizes, m);
  }

  &__icon--is-before {
    margin: 0 map-get($s-spacing-sizes, m) 0 0;
  }
}
