.c-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__link {
    font-size: map-get($s-heading-sizes, xl );
  }

  &__icon {
    font-size: map-get($s-heading-sizes, xxxl );
  }

  &--is-active {
    font-weight: bold;
  }
}
