
  .c-overlay {
    height: 100%;
    position: fixed;
    z-index: 99999999999;
    background-color: rgb(63, 63, 65);
    padding: 20px;
    width: 100%;

    &__content {
      padding: map-get($s-spacing-sizes, xxl);
    }

    &__close-btn {
      align-self: flex-end;
      justify-content: flex-end;
    }
  }


