.c-page {
  max-width: 64rem;
  min-width: 20rem;
  margin: 0 auto 1rem;
  box-shadow: 3px 3px 7px 0px #eaeaea;
  background-color: white;

  &__notification {
    padding: 1rem;
    background-color: green;
    color: $s-white;
    margin-bottom: 1rem;
    a {
      color: $s-white;
    }
  }

  &__inner {
    padding: 1rem;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    border-top: 4px solid $s-color-1;
  }

  &--is-hidden {
    z-index: -99999;
  }
}

.c-sprite {
  border: 1px solid red;
}
