.c-site-footer {
  text-align: center;
  margin: map-get($s-spacing-sizes, xl) 0;
  padding: map-get($s-spacing-sizes, xl) 0;
  border-top: 1px solid $s-color-1;

  &__links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    @include t-greater-than-blueberry {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__link-item {
    margin-bottom: map-get($s-spacing-sizes, xl);
    @include t-greater-than-blueberry {
      margin-right: map-get($s-spacing-sizes, xl);
    }
  }

  &__link-image {
    width: 40px;
  }
}
