.c-site-header {
  border-bottom: 1px solid #eaeaea;
  background-color: black;
  color: white;

  &__items {
    display: flex;
    // justify-content: space-between;
    padding: 0 1vw;
  }

  &__logo-container {
    padding: 1rem;
  }
}
